{% extends "core/base.html" %}

{% load static %}

{% block content %}

  <div>
    <div class="text-center">
      <img src="{% static 'core/images/mehfozpic1.png' %}" alt="ProfilePic" class="img-fluid mt-4" width="180px" height="180px">
    </div>

    <div class="text-white mt-5 mx-5 text-justify">
      <h2 class="font-weight-bold st-font">Hello World !</h2>
      <div class="px-4 mt-3" style="line-height:28px">
          <p style="text-indent:100px;">⚡ I'm  <b class="text-warning"> Mehfooz Ali</b>. For the past 02 years, I have been a <b>Professional WordPress Developer & Python / Django Developer</b>. I am also well-known and well-liked as a Elementor expert.
          <br>
          <br>
          ⚡ I'm a Python Django Developer, WordPress Developer & Graphics Designer with wide set of related skills. I am working with these skills at <b class="text-warning"> Fiverr and Upwork  </b> from last 06 months. 
          <br>
          <br>
          ⭐ Web Developer with 1+ years of experience in developing user interfaces, debugging, and training staff within eCommerce technologies. My experiences range from building responsive web and mobile sites that work well cross-browser to building scalable sites for the financial services industry.
          </p>
      </div>
    </div>

      <div class="text-center mb-3">
          <a href="https://www.fiverr.com/deemehfooz" target="_blank"><button type="button" class="btn btn-outline-warning my-3 me-5">Hire Me</button></a>
          
          <a href="{% url 'contact' %}"><button type="button" class="btn btn-outline-info my-3 mr-5">Contact</button></a>
      </div>



  </div>

{% endblock content %}